* {
  font-family: Helvetica;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.form {
  flex-direction: column;
  display: flex;
  margin: 5px 24px;
}

h1 {
  font-size: 22px;
  line-height: 25px;

  color: #282828;

  text-align: center;
  font-weight: normal;

  margin: 25px 0 10px;
}

label {
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.3px;
  text-transform: uppercase;

  color: #303030;
  padding-bottom: 4px;
  margin-top: 15px;

  text-decoration: none;
}

input,
textarea {
  background: #f9fafb;
  border: 1px solid #dedee0;
  box-sizing: border-box;
  border-radius: 5px;

  padding: 20px 10px;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.4px;

  color: rgba(102, 102, 102, 0.466455);
}

.have-account a {
  text-decoration: none;
  text-transform: uppercase;
  color: #349a89;
}

.password-eye-wrap {
  display: flex;
  justify-content: flex-end;
  height: 0;
}

.toggle-password {
  position: absolute;
  margin: -35px 10px 0 0;
}

.toggle-password svg {
  margin-right: 10px;
}

.error-msg {
  color: red;
}

p {
  margin: 0;
}

nav {
  padding: 15px 0 15px;
}

.main-navbar {
  background: linear-gradient(180deg, #090810 0%, #171236 100%);
}

.top-navbar {
  padding: 0 11%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.container {
  margin: 0 auto;
  width: 70vw;
}

select {
  border: 1px solid #dedee0;
  border-radius: 5px;
  padding: 8px 35px 8px 5px;
  background: none;
  font-size: 14px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #999;
  font-size: 16px;
  line-height: 18px;
  user-select: none;
}

.toggle-password {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .search-btn {
    padding: 0 10px;
  }

  .product-filters input {
    width: 110px;
  }
}

.Toastify__toast--success {
  background: #349a89 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
}
