.product-image-container {
	background: #f9fafb;
	border: 1px solid #dedee0;
	box-sizing: border-box;
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
}

.product-image-input {
	background: #e4e4e4;
	border-radius: 4px;
	display: none;
}

.upload-product-image {
	color: #349a89;
	background: #e4e4e4;
	width: 92px;
	height: 92px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	font-size: 120px;
	margin: 16px;
	cursor: pointer;
}

.uploaded-product-image {
	width: 92px;
	height: 92px;
	margin: 16px;
	cursor: pointer;
}

.remove-image {
	font-size: 0;
	width: 92px;
	height: 92px;
	margin: 16px 0 0 -108px;
	position: absolute;
}

.remove-image:hover {
	font-size: 92px;
	background-color: rgba(255, 0, 0, 0.2);
	color: red;
	text-align: center;
	line-height: 80px;
	cursor: pointer;
}
